@{
    ViewBag.Title = "Home Page";
}

<div class="container" ng-app="StudentApp" ng-controller="Controlador">
    <div class="list-group">
        <p><b> Listado de los Estudiantes</b></p>

        <table class="table table-hover">
            <tr>
                <td>Id</td>
                <td>Student Type</td>
                <td>Student Name</td>
                <td>Gender</td>
                <td>Timestamp</td>

            </tr>
            <tr ng-repeat="student in Students">
                <td>{{student.Id}}</td>
                <td>{{student.StudentType}}</td>
                <td>{{student.StudentName}}</td>
                <td>{{student.Gender}}</td>
                <td>{{student.Timestamp}}</td>

            </tr>
            
        </table>


    </div>
</div>
@section scripts{
    <script src="~/Scripts/app/StudentApp.js"></script>
    <script src="~/Scripts/app/Controlador.js"></script>
    <script src="~/Scripts/app/Servicios.js"></script>
    }